html{
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  max-height: 4000px;

}

.header {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 1440px;
}

.header .a-header {
  float: left;
  display: block;
  font-family:GothamBook;
	font-size: 13px;
	font-weight: normal;
	color: #5E5E5E;
	letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 20px;
}

@keyframes faded {
  0%{color: #5E5E5E}
  25%{color: #FC6E19}
  50%{color: #FC6E19}
  100%{color:#FC6E19}
}

@-webkit-keyframes faded {
  0%{color: #5E5E5E}
  25%{color: #FC6E19}
  50%{color: #FC6E19}
  100%{color:#FC6E19}
}


.a-header:hover{
  color: #FC703A;
  animation-name: faded;
  animation-duration: 2s;
  -webkit-animation-name: faded;
  -webkit-animation-duration: 2s;
}

.logo-pos-header {
  padding-left: 100px;
  width: 180px;
  padding-top: 20px;
  position: relative;
  left: 0px;
}

.a-header-right {
  float: right;
  display: block;
  font-family:"GothamBook";
	font-size: 13px;
	font-weight: normal;
	color: #5E5E5E;
	letter-spacing: 1px;
  	text-align: center;
  	text-decoration: none;
  	padding-right: 130px;
  	padding-top: 35px;
  	position: relative;
  	left: -50px;
  	top: 7px;
}

.a-header-right:hover {
  text-decoration:none;
	color: #FC703A;
}

.a-header-right-img {
  float: right;
  display: block;
  font-family:"GothamBook";
	font-size: 13px;
	font-weight: normal;
	color: #5E5E5E;
	letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding-right: -30px;
  padding-top: 25px;
  position: relative;
  left: -130px;
  width: 80px;
}


.android2 {
  position: relative;
  top: 240px;
  float: right;
  margin-right: -430px;
  width: 350px;
}

.box1{
  margin: 100px auto;

}

.box-content1{
  position: relative;
	top: -200px;
	
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.ttf') format('truetype');
}

.h1-box1{
  font-weight: bold;
  color:#FC6E19;
  font-family: 'GothamBold';
  font-size:38px;
  letter-spacing: 5px;
    font-stretch: extra-condensed;
    position: relative;
    top: -40px;
    line-height:1.2;
    left: 270px;
}

.p1{
  font-family: 'GothamBook';
  word-spacing: 5px;
  font-size: 14px;
  margin-top:50px;
  text-align: justify;
  line-height: 2.5;
  position: relative;
  left: 200px;
  width: 480px;
}

.gambartech{
  position: relative;
  top: -700px;
	float: right;
}

.h1-2{
  font-weight: bold;
  color:#FC6E19;
  font-family: 'GothamBold';
  font-size:38px;
  letter-spacing: 2px;
    font-stretch: extra-condensed;
line-height:1.2;
}

.box-content2{
  position: relative;
  width: 1000px;
  bottom: 540px;
  left: 450px;
}

.grid1-content{
  width: 240px;
  text-align: justify;
  font-size: 13px;
  line-height:1.5;
  position: relative;
  top: -100px;
  left: 110px;
  font-family: 'GothamBook';
}

.span-1a{
  position: relative;
  color: #3A3A3A;
  font-weight: bold;
}
.span-2a{
  position: relative;
  top: -10px;
}

.grid1{
  width: 350px;
  height: 200px;
  position: relative;
  top: 20px;

}

.grid2-content{
  width: 240px;
  text-align: justify;
  font-size: 13px;
  line-height:1.5;
  position: relative;
  top: -100px;
  left: 110px;
  font-family: 'GothamBook';
}

.grid2{
  width: 350px;
  height: 200px;
  position: relative;
  top: 70px;

}

.box2{
  height: 500px;
}

.grid3-content{
  width: 270px;
  text-align: justify;
  font-size: 13px;
  line-height:1.5;
  position: relative;
  top: -100px;
  left: 110px;
  font-family: 'GothamBook';
}

.grid3{
  width: 350px;
  height: 200px;
  position: relative;
  top: 80px;

}

.grid4-content{
  width: 250px;
  text-align: justify;
  font-size: 13px;
  line-height:1.5;
  position: relative;
  top: -100px;
  left: 110px;
  font-family: 'GothamBook';
}

.grid4{
  width: 350px;
  height: 200px;
  position: relative;
  top: 130px;

}

.grid-right{
  float: right;
  position: relative;
  top: -460px;
  right: 200px;
}

.box3{
  height: 500px;
  position: relative;
  top: 0px;
}

.box4{
  position: relative;
  width: 100%;
	padding-top: -10px;
  height: 1000px;
}

.img-phone{
  position: relative;
  padding-top:-400px;
  margin-left: 200px;
}

.img-phone2{
  position: relative;
  padding-top:600px;
	margin-left: 800px;
}

.panah2{
  position: relative;
  top:-50px;
  left: 00px;
}

.h1-3{
  color:red;
  font-family: 'GothamBold';
  font-size:38px;
  letter-spacing: 2px;
    font-stretch: extra-condensed;
line-height:1.2;
}

.Q-9{
  font-weight:bold;
  font-size: 50px;
}

.box-content3{
  position: relative;
  width: 350px;
  top: -300px;
  left: 800px;
}

.box-content4{
  position: relative;
  width: 400px;
  top: -700px;
  left: 140px;
}

.p-content3{
  width: 500px;
  text-align: justify;
  font-size: 13px;
  line-height:2.5;
  font-family: 'GothamBook';
}

.p-content4{
  width: 500px;
  text-align: justify;
  font-size: 13px;
  line-height:2.5;
  font-family: 'GothamBook';
}

.a-contents3{
	font-family: 'Arial';
	position:relative;
	top: -20px;
	color: #FC703A;
	 text-decoration:none;
}

.a-contents3:hover {
  text-decoration:none;
	color: #5E5E5E;
}

.p-3{
  font-family: 'GothamBold';
  font-weight: bold;
	text-align: center;
  	font-size:20px;
	padding: 20px;
	position: relative;
	top: 20px;
	float: right;
	color:#5E5E5E;
	margin-right: 100px;
  	width: 450px;

  letter-spacing: 2px;
    font-stretch: extra-condensed;
line-height:1.2;
}

.footer{
  position: relative;
  right: 0;
  bottom: -450px;
  left: 0;
  background-color:#FC6E19;
  height: 300px;
}


.Tungguapalagi {
	position: relative;
	top: 40px;
}

.img-footer{
  position: relative;

}

.orange-hr {
  border: 1px solid #FC703A;
  position: relative;
  top: 8px;
}

.h3-navigation{
  position: relative;
  font-family: 'GothamBook';
  color: white;
  font-size: 19px;
}

.box-navigation{
  position: relative;
  top: 70px;
  left: 60px;
  width: 250px;
	padding-bottom: 0px;
}

.ul-navigation li {
  position: relative;
  list-style-type: none;
  font-family: 'Arial';
  right: 40px;
  top: 10px;
  font-size: 12px;
  padding-bottom: 7px;
}

@keyframes faded2 {
  0%{color: #FFFFFF}
  25%{color: #EAEAEA}
  50%{color: #EAEAEA}
  100%{color:#EAEAEA}
}

@webkit-keyframes faded2 {
  0%{color: #FFFFFF}
  25%{color: #EAEAEA}
  50%{color: #EAEAEA}
  100%{color:#EAEAEA}
}

.a-navigation{
  text-decoration: none;
  color: white;
}

.a-navigation:hover{
  text-decoration: none;
  color: #EAEAEA;
  animation-name: faded2;
  animation-duration: 2s;
  -webkit-animation-name: faded2;
  -webkit-animation-duration: 2s;
}


.h3-services{
  position: relative;
  font-family: 'GothamBook';
  color: white;
  font-size: 19px;
}

.box-services{
  position: relative;
  top: -130px;
  left: 250px;
  width: 350px;
}

.ul-services li
{
  position: relative;
  list-style-type: none;
  font-family: 'Arial';
  right: 40px;
  top: 10px;
  padding-bottom: 13px;
  font-size: 12px;
}

.ul-services2 li {
  position: relative;
  list-style-type: none;
  font-family: 'Arial';
  right: 120px;
  top: 15px;
  padding-bottom: 13px;
  font-size: 12px;
}

.ul-services2 {
  position: relative;
  list-style-type: none;
  font-family: 'GothamBook';
  right: 40px;
  float: right;
  top: -203px;
  left: 130px;
  padding-bottom: 17px;
  font-size: 12px;
}

.a-services{
  text-decoration: none;
  color: white;
}
.a-services:hover{
text-decoration: none;
color: #EAEAEA;
animation-name: faded2;
animation-duration: 2s;
-webkit-animation-name: faded2;
-webkit-animation-duration: 2s;
}

.box-contact{
  position: relative;
  bottom: 550px;
  float: left;
  right: -680px;
  width: 250px;
  height: 200px;
}


.h3-contact{
  position: relative;
  font-family: 'GothamBook';
  color: white;
  font-size: 19px;

}

.img-mail{
  padding-right: 10px;
}

.img-contact1{
  position: relative;


}

.box-news{
  position: relative;
  float: left;
  bottom: 550px;
  left: 700px;
  width: 350px;
}

.h3-news{
  position: relative;
  font-family: 'GothamBook';
  color: white;
  font-size: 19px;
}

.input-email{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 50px;
  color: #5E5E5E;
  font-family: 'Arial';

}

.input-news{
  width: 400px;

}

.placeholder{
  font-family: 'Arial';
}

.btn-subs{
  position: relative;
  top: -78px;
  left: 190px;
}

.img-play{
  width: 190px;
  position: relative;
  top: 0px;
  left: -40px;
}
.img-play_store{
  position: relative;
  top: 130px;
  left: 900px;
	width: 250px;
}


.back-pos{
  position: absolute;
  top: 8px;
  left: 0;
  width: 900px;

}

.pos-back{
  position: relative;
  left: -450px;
  top: -10px;
}

@media (max-width: 1440px){
}
